$gradient-left: #d70d6b;
$gradient-right: #323f7b;
$button-color: #ff0066;
$slider-background: #ff00661f;
$slider-btn: #ff006659;
$primary-color: #000;
$secondary-color: #999;
$secondary-background: #f5f5f5;

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}